# Git
.git
.gitignore

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Documentation and temporary files
docs/
*.md
LICENSE
HoneyComb Agent.pdf

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
